/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#map {
  height: 400px;
  width: 100%;
}

header {
  font-size: 20px;
  font-family: Roboto;
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: black;
  padding: 30px; 
}

table.points-list {
  padding-top: 20px;
  margin: 0 auto;
}

table.points-list th{
  border-bottom: solid 1px red;
}

table.points-list a{
  font-size: 12px;
  font-family: DejaVu Sans;
  padding: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.content{
  text-align: center;
}

form{
  display: inline-grid;
}

form input{
  margin: 10px 0;
}